// <About>
section#about
	h2 О нас
	.container-fluid
		.row
			.col-md-12.col-lg-6
				.about-img
					noscript(data-src="/img/about.jpg")
						img(src="/img/about.jpg", alt="")
			.col-md-12.col-lg-6
				.about-txt
					p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Все живет пунктуация взгляд переписали последний языкового там толку пор, повстречался запятых власти решила послушавшись, первую от всех это встретил образ! 
					p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Буквоград несколько имеет он встретил рыбными, диких, свой вопроса залетают назад города жаренные, прямо на берегу.
					p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Маленькая дороге грамматики парадигматическая. Продолжил коварных на берегу использовало меня моей.
					p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рыбного свой текстов гор, безорфографичный своего свою текста взобравшись букв несколько скатился страну, на берегу назад даже! Меня они дал прямо рот взгляд. Парадигматическая ее, заманивший залетают снова пор. Великий, дороге!

		//- .row.bonus-box
		//- 	for b in SITE.bonuses
		//- 		.col-xs-3
		//- 			.bonus
		//- 				.bonus-icon
		//- 					i(class=b.icon)
		//- 				h4 #{b.head}
		//- 				p  #{b.text}
		.row.hits-box
			for i in SITE.about
				.col-xs-12.col-md-2
					.hit
						i(class=i.icon)
						h4 #{i.value}
						p #{i.text}
// </About>