// <Social Nav>
div(class=SOCIAL.socClass)
	ul(class=SOCIAL.socListClass)
		each item in SOCIAL.socItems
			li
				a(href=item.href, class=SOCIAL.socItemClass)
					i(class=item.icon)
// </Social Nav>